.burger {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: relative;
        width: 35px;
        height: 20px;
        z-index: 3;
    }
    & span {
        @media (max-width: 768px) {
            position: absolute;
            background-color: #000;
            left: 0px;
            top: 9px;
            width: 100%;
            min-width: 30px;
            height: 2px;
            transition: all 0.3s ease 0s;
        }
    }
    &::before,
    &::after {
        @media (max-width: 768px) {
            content: "";
            background-color: #000;
            position: absolute;
            width: 100%;
            min-width: 30px;
            height: 2px;
            left: 0px;
            transition: all 0.3s ease 0s;
        }
    }
    &::before {
        @media (max-width: 768px) {
            top: 0px;
        }
    }
    &::after {
        @media (max-width: 768px) {
            bottom: 0px;
        }
    }
    &.active {
        &::before {
            transform: rotate(45deg);
            top: 9px;
        }
        &::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        & span {
            transform: scale(0);
        }
    }
}
