.button {
    &__link {
        display: inline-block;
        padding: 10px 25px;
        border-radius: 3px;
        background-color: #ff3c2d;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        text-align: center;

        &.hide {
            visibility: hidden;
            opacity: 0;
            transition: 0.3s all ease;
        }

        @media (max-width: 1300px) {
            font-size: 14px;
            padding: 10px 18px;
        }
        @media (max-width: 900px) {
            font-size: 14px;
            padding: 10px 14px;
        }
    }

    &__large_padding {
        padding: 10px 50px;
    }
    &__medium_padding {
        padding: 10px 30px;
        @media (max-width: 550px) {
            padding: 8px 18px;
            font-size: 12px;
        }
    }
    &__full_width {
        width: 100%;
        font-size: 20px;
    }
}
