.body {
    @media (max-width: 768px) {
        &.lock {
            overflow: hidden;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.container-small {
    box-sizing: content-box;
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 15px; /* отступы безопасности */
}

.container-large {
    box-sizing: content-box;
    max-width: 1580px;
    margin: 0px auto;
    padding: 0px 15px; /* отступы безопасности */
}
