@use 'sass:math';

// Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff2") format("woff2"),
            url("../fonts/#{$file_name}.woff") format("woff");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}

@function em($px) {
    $result: math.div($px, 16) + em;
    @return $result;
}
