.headshot-info {
    background-color: #f6f6f6;
    padding: 60px 0px;

    @media (max-width: 1700px) {
        padding: 60px 15px;
    }
    @media (max-width: 768px) {
        padding: 30px 12px;
    }
    @media (max-width: 600px) {
        padding: 30px 8px;
    }
}
