.headshot-sessions {
    position: relative;
    height: 100%;
    min-height: 0px;
    background-image: url("../../img/main/headshot/fon-img.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 15px;
    z-index: 3;

    @media (max-width: 1400px) {
    }
    @media (max-width: 550px) {
        padding: 15px 10px;
    }

    &::before {
        position: absolute;
        top: 0px;
        left: 0px;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        background-size: 100% 100%;
    }

    &__body {
        border: 1px solid rgb(255, 250, 250);
    }
}
