.headshot {
    position: relative;
    padding: 30% 0px 30% 0px;
    overflow: hidden;
    height: 100%;

    &__body {
        position: absolute;
        background-image: url("../../img/headshot/fon.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 19%;
        background-attachment: local;
        height: 45%;
        max-height: 500px;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 3;
        }
    }
    &__content {
        position: absolute;
        top: 25%;
        left: 10%;
        z-index: 4;
        width: 20%;
        line-height: 4;
    }
    &__title {
        color: #fff;
        font-size: 60px;
        font-weight: 700;
        line-height: 1.1;
    }
    &__subtitle {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
    }
}
