.headshot {
    background-image: url("../../img/headshot/fon.jpg");
    background-repeat: no-repeat;
    background-position: 0px -100px;
    min-height: 500px;
    height: 100%;
    width: 100%;
}
