.individual {
    width: 50%;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 78px 0px;

    @media (max-width: 768px) {
        width: 100%;
        padding: 100px 0px 40px;
    }
}
