.info {
    &__title {
        display: inline-block;
        font-size: 16px;
        margin-bottom: 25px;
    }
    &__body {
        @media (max-width: 768px) {
            padding: 0px 16px 0px 16px;
        }
        @media (max-width: 600px) {
            padding: 0px 12px 0px 12px;
        }
    }

    &__row {
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    &__title_black {
        font-size: 38px;
        font-weight: 700;
        @media (max-width: 1150px) {
            font-size: 30px;
        }
        @media (max-width: 600px) {
            font-size: 25px;
        }
    }
    &__title_italic {
        font-size: 38px;
        font-weight: 700;
        margin-left: 75px;
        margin-bottom: 70px;

        @media (max-width: 1150px) {
            font-size: 30px;
            margin-bottom: 50px;
        }
        @media (max-width: 768px) {
            margin-left: 15px;
            font-size: 30px;
            margin-bottom: 35px;
        }
        @media (max-width: 716px) {
            margin-bottom: 30px;
        }
        @media (max-width: 600px) {
            font-size: 25px;
        }
    }
    &__title_uppercase {
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.8;

        @media (max-width: 1020px) {
            font-size: 15px;
        }
        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
    }
    &__text_margin {
        margin-bottom: 25px;

        &:last-of-type {
            margin-bottom: 0px;
        }
        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
    }
    &__under-line {
        border-bottom: 1px solid red;
    }

    &__description {
        background-color: #000;
        color: #fff;
        padding: 45px 65px;
        width: 100%;
        max-width: 850px;
        margin-left: 86px;

        @media (max-width: 1300px) {
            max-width: 650px;
        }
        @media (max-width: 1020px) {
            padding: 25px 35px;
            max-width: 450px;
        }
        @media (max-width: 768px) {
            margin-left: 56px;
        }
        @media (max-width: 600px) {
            margin-left: 50px;
            max-width: 400px;
        }
    }
    &__wrapper {
        padding: 0px 30px 0px 0px;
    }

    &__column {
        width: 50%;
        @media (max-width: 1300px) {
            &:first-of-type {
                width: 45%;
            }
            &:last-of-type {
                width: 55%;
            }
        }
        @media (max-width: 1150px) {
            margin-bottom: 20px;
        }
        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 50px;
            &:first-of-type {
                width: 100%;
                order: 2;
            }
            &:last-of-type {
                width: 100%;
                order: 1;
            }
        }
    }

    &__content {
        width: 62%;
        height: 100%;
        @media (max-width: 1600px) {
            width: 75%;
        }
        @media (max-width: 1150px) {
            width: 90%;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &__img {
        width: 50px;
        height: 130px;
        margin-top: 20px;
        margin-bottom: -400px;
        img {
            width: 100%;
            height: 100%;
        }
        @media (max-width: 768px) {
            width: 40px;
            height: 100px;
            margin-bottom: -100px;
        }
        @media (max-width: 768px) {
            width: 30px;
            height: 80px;
            margin-bottom: -80px;
        }
    }
    &__text {
        line-height: 1.7;
        @media (max-width: 1150px) {
            font-size: 14px;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        column-gap: 80px;
        row-gap: 40px;

        @media (max-width: 1300px) {
            column-gap: 50px;
            row-gap: 30px;
        }
        @media (max-width: 1020px) {
            column-gap: 30px;
            row-gap: 20px;
        }
        @media (max-width: 768px) {
            justify-content: space-between;
        }
        @media (max-width: 716px) {
            align-items: center;
            flex-direction: column;
        }
    }
    &__item {
        display: flex;
        column-gap: 25px;
        align-items: center;
        width: 40%;
        height: 100%;
        padding: 0px 0px 15px 15px;
        border-bottom: 1px solid #ccc;
        p {
            max-width: 250px;
        }
        @media (max-width: 1300px) {
            column-gap: 15px;
            p {
                max-width: 500px;
            }
        }
        @media (max-width: 1150px) {
            width: 45%;
            p {
                font-size: 14px;
            }
        }
        @media (max-width: 768px) {
            width: 48%;
            max-width: 300px;
        }
        @media (max-width: 716px) {
            width: 100%;
            max-width: 100%;
            p {
            }
        }
        @media (max-width: 600px) {
            column-gap: 20px;
            padding: 0px 0px 15px 15px;
        }
    }
    &__icon {
        width: 60px;
        height: 40px;

        &_size {
            height: 14px;
        }

        @media (max-width: 1150px) {
            width: 45px;
            height: 25px;
            &_size {
                width: 35px;
                height: 12px;
            }
        }
        @media (max-width: 768px) {
            height: 35px;
            &_size {
                width: 40px;
                height: 10px;
            }
        }
        @media (max-width: 600px) {
            width: 30px;
            height: 20px;
            &_size {
                width: 25px;
                height: 8px;
            }
        }
    }
}
