.info {
    &__title {
        display: inline-block;
        font-size: 16px;
        margin-bottom: 25px;
    }

    &__row {
        display: flex;
    }
    &__title_black {
        font-size: 38px;
        font-weight: 700;
    }
    &__title_italic {
        font-size: 38px;
        font-weight: 700;
        margin-left: 75px;
        margin-bottom: 70px;
    }
    &__title_uppercase {
        text-transform: uppercase;
        font-weight: 600;
    }
    &__text_margin {
        margin-bottom: 25px;

        &:last-of-type {
            margin-bottom: 0px;
        }
    }
    &__under-line {
        border-bottom: 1px solid red;
    }
    // &__text_white {
    //     font-size: 35px;
    //     font-weight: 700;
    //     color: #fff;
    // }
    &__description {
        background-color: #000;
        color: #fff;
        padding: 45px 65px;
        max-width: 850px;
        margin-left: 86px;
    }
    &__column {
        width: 50%;
    }
    &__content {
        width: 62%;
    }
    &__img {
        width: 50px;
        height: 130px;
        margin-top: 20px;
        margin-bottom: -400px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        line-height: 1.7;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        column-gap: 80px;
        row-gap: 40px;
    }
    &__item {
        display: flex;
        column-gap: 25px;
        align-items: center;
        width: 40%;
        height: 100%;
        padding: 0px 0px 15px 15px;
        border-bottom: 1px solid #ccc;
        p {
            max-width: 250px;
        }
    }
    &__icon {
        width: 60px;
        height: 40px;

        &_size {
            height: 14px;
        }
    }
}
