.links {
    &__title {
        color: #626262;
        font-size: 18px;
    }
    &__items {
        padding: 18px 0px 0px 0px;
        line-height: 2.3;
    }
    &__link {
        color: #fff;
    }
}
