.main {
    &__search {
        position: relative;
        padding: 30px 20px;
        display: none;
        width: 100%;
        height: 300px;
        min-height: 150px;
        max-height: 100%;

        @media (max-width: 1025px) {
            display: flex;
            justify-content: center;
        }

        @media (max-width: 400px) {
            padding: 30px 15px;
        }
    }
}
