.menu {
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin: 0px 15px;
    }
    &__link {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
    }
}
