.resources {
    justify-self: flex-start;
    height: 100%;
    // border-bottom: 1px solid rgba(57, 57, 57, 0.5);

    &__title {
        color: #626262;
        font-size: 18px;
    }

    &__items {
        padding: 20px 0px 0px 0px;
    }

    &__item {
    }

    &__link {
        display: flex;
        align-items: center;
        // border: 1px solid red;
        color: #fff;

        &::before {
            content: "";
            display: inline-block;
            padding: 0px 30px 0px 0px;
            background-image: url("../../img/footer/arrow.png");
            background-position: left;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }
        
        &:hover::before {
            background-position: 5px;
            transition: 0.5s;
        }
    }
}
