.resources {
    height: 100%;
    width: 100%;
    @media (max-width: 1000px) {
        display: flex;
        justify-content: flex-start;
        padding-left: 12%;
    }
    @media (max-width: 768px) {
        padding-left: 7%;
    }

    &__title {
        color: #626262;
        font-size: 18px;
        @media (max-width: 1300px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    &__items {
        padding: 20px 0px 0px 0px;
        @media (max-width: 1000px) {
            line-height: 1.8;
        }
    }

    &__item {
    }

    &__link {
        display: flex;
        align-items: center;
        // border: 1px solid red;
        color: #fff;

        &::before {
            content: "";
            display: inline-block;
            padding: 0px 30px 0px 0px;
            background-image: url("../img/footer/arrow.png");
            background-position: left;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;

            @media (max-width: 1300px) {
                width: 25px;
                height: 25px;
            }
            @media (max-width: 768px) {
                width: 20px;
                height: 20px;
            }
        }

        &:hover::before {
            background-position: 5px;
            transition: 0.5s;
        }

        @media (max-width: 1300px) {
            font-size: 14px;
        }
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
}
