.session {
    display: inline-block;
    background-color: transparent;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-size: 25px;
        text-transform: uppercase;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    &__img {
        margin-bottom: 20px;

        @media (max-width: 768px) {
            // width: 50px;
            // height: 30px;
        }
    }

    &__text {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #4e4e4e;
        padding: 30px 30px 15px 50px;

        &_color {
            border-bottom: 1px solid #ccc;
        }

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        counter-reset: item;
        margin: 30px 0px 50px;
    }

    &__item {
        position: relative;
        display: flex;
        width: 100%;
        &::before {
            position: absolute;
            left: -18px;
            top: 9px;
            display: inline-block;
            content: counter(item);
            counter-increment: item;
            color: #4e4e4e;
            font-size: 60px;
            font-weight: 900;

            @media (max-width: 768px) {
                font-size: 57px;
            }
        }
        &_color {
            &::before {
                color: #ccc;
            }
        }
    }
}
