.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
    z-index: 3;
    width: 100%;
    overflow: hidden;

    @media (max-width: 890px) {
        padding: 3% 0px;
    }

    &__item {
        position: relative;
        width: 100%;
        z-index: 4;
    }

    &__photos {
        display: flex;
        justify-content: space-between;
        gap: 30px 30px;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

        @media (max-width: 1850px) {
            gap: 30px 20px;
        }
        @media (max-width: 1450px) {
            gap: 25px 20px;
        }
        @media (max-width: 1250px) {
            gap: 20px 20px;
        }
        @media (max-width: 1020px) {
            gap: 20px 15px;
        }
        @media (max-width: 890px) {
            flex-wrap: nowrap;
            gap: 0px 4%;
        }
    }
    &__photo {
        img {
            width: 100%;
            height: 100%;
        }
        @media (max-width: 1850px) {
            width: 47%;
            height: 47%;
        }
        @media (max-width: 890px) {
        }

        @media (max-width: 768px) {
        }
    }

    .slick-arrow {
        font-size: 0px;
        z-index: 5;
        width: 50px;
        height: 70px;
    }
    .slick-arrow.slick-prev {
        background: url("../../img/main/services/slider/arrow-left.png") 0 0 /
            100% no-repeat;
        z-index: 5;
    }
    .slick-arrow.slick-next {
        background: url("../../img/main/services/slider/arrow-right.png") 0 0 /
            100% no-repeat;
        z-index: 5;
    }
}

.slider-body {
    position: relative;
    width: 50%;
    max-width: 780px;
    padding: 0px 3% 0px 0px;
    order: 1;

    @media (max-width: 890px) {
        order: 2;
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    &__buttons {
        position: relative;
        padding: 30px 0px 0px;
        width: 100%;
        z-index: 2;

        @media (max-width: 1050px) {
            padding: 25px 0px 0px;
        }
        @media (max-width: 890px) {
            padding: 0px;
        }
    }
    &__btn {
        width: 100%;
    }
    .slick-arrow {
        position: absolute;
        font-size: 0px;
        z-index: 5;
        height: 50px;
    }
    .slick-arrow.slick-prev {
        width: 47%;
        left: 0px;
        background-image: url("../../img/main/services/slider/arrow-left.png");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 5;
        @media (max-width: 1020) {
            max-height: 36px;
        }
        @media (max-width: 890px) {
            width: 48%;
        }
        @media (max-width: 720px) {
            width: 48%;
        }
        @media (max-width: 550px) {
            max-height: 35px;
        }
    }
    .slick-arrow.slick-next {
        width: 47%;
        right: 0px;
        background-image: url("../../img/main/services/slider/arrow-right.png");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 5;
        @media (max-width: 1020) {
            max-height: 36px;
        }
        @media (max-width: 890px) {
            width: 48%;
        }
        @media (max-width: 720px) {
            width: 48%;
        }
        @media (max-width: 550px) {
            max-height: 35px;
        }
    }
}
