.social {
    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
    }
    &__links {
        display: flex;
        align-items: center;
        column-gap: 18px;

        @media (max-width: 1300px) {
            column-gap: 15px;
        }
        @media (max-width: 900px) {
            column-gap: 12px;
        }
    }
    &__icon {
        @media (max-width: 900px) {
        }
    }
}
