.social {
    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
    }
    &__links {
        display: flex;
        align-items: center;
        column-gap: 18px;
    }
    &__icon {
    }
}
