.studio-inc {
    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        font-size: 15px;
    }
    &__location {
        display: flex;
        column-gap: 15px;
        padding: 25px 0px 0px 0px;
    }
    &__icon {
        width: 15px;
        height: 20px;
    }
    &__title {
        color: #626262;
        font-size: 18px;
    }
}
