.studio-inc {
    display: flex;
    flex-direction: column;
    width: 54%;

    @media (max-width: 1000px) {
        width: 100%;
    }

    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        font-size: 15px;
    }
    &__item {
        @media (max-width: 1300px) {
            font-size: 14px;
        }
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
    &__location {
        display: flex;
        column-gap: 15px;
        padding: 25px 0px 0px 0px;
    }
    &__icon {
        width: 15px;
        height: 20px;
    }
    &__title {
        color: #626262;
        font-size: 18px;
        @media (max-width: 1300px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}
